# Editor-related
*~
.vscode
venv

# OS-related
.DS_Store

# Common e3 artifacts
*.local
core.*
*-loc/*.Makefile
epi8600/*.Makefile
epi8600/O.*
cellMods/
testMods*/
*PVs.list
pv.list
dbl
.iocsh_history
